---
import { getCollection } from 'astro:content';

const posts = await getCollection('writing');
const sortedPosts = posts.sort((a, b) => a.data.order - b.data.order);
---

<section id="writing" class="mb-16 scroll-mt-16 lg:mb-24 lg:scroll-mt-24" aria-label="Blog posts">
  <div class="sticky top-0 z-20 -mx-6 mb-4 w-screen bg-gruvbox-bg/75 px-6 py-5 backdrop-blur lg:sr-only lg:relative lg:top-auto lg:mx-auto lg:w-full lg:px-0 lg:py-0 lg:opacity-0">
    <h2 class="text-sm font-bold uppercase tracking-widest text-gruvbox-fg lg:sr-only">
      Writing
    </h2>
  </div>

  <div>
    <ul class="group/list">
      {sortedPosts.map((post) => (
        <li class="mb-12">
          <div class="group relative grid pb-1 transition-all sm:grid-cols-8 sm:gap-8 lg:hover:!opacity-100 lg:group-hover/list:opacity-50">
            <div class="absolute -inset-x-4 -inset-y-4 z-0 hidden rounded-md transition motion-reduce:transition-none lg:-inset-x-6 lg:block lg:group-hover:bg-gruvbox-bg1/50 lg:group-hover:shadow-[inset_0_1px_0_0_rgba(148,163,184,0.1)] lg:group-hover:drop-shadow-lg"></div>

            <header class="z-10 mb-2 mt-1 text-xs font-semibold uppercase tracking-wide text-gruvbox-gray sm:col-span-2">
              {post.data.date.toLocaleDateString('en-US', { year: 'numeric', month: 'short' })}
            </header>

            <div class="z-10 sm:col-span-6">
              <h3>
                <a
                  class="inline-flex items-baseline font-medium leading-tight text-gruvbox-fg hover:text-gruvbox-yellow focus-visible:text-gruvbox-yellow group/link text-base"
                  href={`/blog/${post.data.slug}`}
                  aria-label={post.data.title}
                >
                  <span class="absolute -inset-x-4 -inset-y-2.5 hidden rounded md:-inset-x-6 md:-inset-y-4 lg:block"></span>
                  <span>
                    {post.data.title}
                    <svg class="inline-block h-4 w-4 shrink-0 transition-transform group-hover/link:translate-x-1 group-focus-visible/link:translate-x-1 motion-reduce:transition-none ml-1 translate-y-px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                      <path fill-rule="evenodd" d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z" clip-rule="evenodd"></path>
                    </svg>
                  </span>
                </a>
              </h3>

              <p class="mt-2 text-sm leading-normal text-gruvbox-fg3">
                {post.data.description}
              </p>
            </div>
          </div>
        </li>
      ))}
    </ul>
  </div>
</section>
